@import "tailwindcss";

/* Aurora thin scrollbar */
.aurora-scroll::-webkit-scrollbar {
    width: 6px;
}

.aurora-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.aurora-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #c43cff, #5d00ff);
    border-radius: 20px;
    opacity: 0.7;
}

.aurora-scroll::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}
